@import '../../assets/styles/vars';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-logo {
  width: 200px;
}

.brand-title {
  font-size: 24px;
  line-height: 20px;
  margin: 1rem;
}
